@model FirstTask_Project.Models.PersonsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.Skills)
        </dt>
       
        <dd>
    @foreach (var item in Model.Skills)
    {
        if (item.Checked)
        {
            <div>@item.Name</div>
        }
    }
    </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

       

        <dd>
            @Html.DisplayFor(model => model.Experience.ExpYear)
        </dd>

</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit","Person", new { id = Model.PersonId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index","Person", new { @class = "btn btn-primary" })
</p>
