@model IEnumerable<FirstTask_Project.Models.Person>

@{
    ViewBag.Title = "Index";
}





<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="pull-right">
    @using (Html.BeginForm("Index", "Person", FormMethod.Get))
    {
        @Html.TextBox("q", "", new { placeholder = "Search..." });

        <button type="submit" class="btn btn-primary">GO</button>

    }
</div>

<table class="table">
    <tr>
        <th>
            <a href="~/Person?order=name">
               Name
            </a>
        </th>
        <th>
            <a href="~/Person?order=gender">
                Gender
            </a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contactno)
        </th>
        <th>
            <a href="~/Person?order=email">
                Email
            </a>
        </th>
        <th>
            <a href="~/Person?order=Exp">
                ExpYear
            </a>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contactno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experience.ExpYear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonId })
        </td>
    </tr>
}

</table>
<p>@Html.ActionLink("Back to List", "Index")</p>
