@model IEnumerable<FirstTask_Project.Models.Person>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Experience.ExpYear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PersonId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PersonId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PersonId })
        </td>
    </tr>
}