@model FirstTask_Project.Models.RecruitmentRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RecruitmentRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfOpening)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfOpening)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "Recruit", new { id = Model.RecruitId },new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", "Recruit", new { @class = "btn btn-primary" })
</p>
