@model IEnumerable<FirstTask_Project.Models.PersonToSkill>






<table class="table">
    <tr>
       
            <th>Person</a></th>
            <th>Skill </a></th>
            <th>Email </a></th>
            <th>Experience</a> </th>
            <th>ContactNum </th>


            <th></th>
</tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skill.Skills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Experience.ExpYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Contactno)
            </td>

           
          
        </tr>
    }

</table>
<p>@Html.ActionLink("Back to List", "Index")</p>