@model IEnumerable<FirstTask_Project.Models.PersonToSkill>





<div class="pull-right">
    @using (Html.BeginForm("SkillMatch", "Recruit", FormMethod.Get))
    {
        @Html.TextBox("q", "", new { placeholder = "Search..." });

        <button type="submit" class="btn btn-primary">GO</button>

    }
</div>
<table class="table">
    <tr>
       
            <th><a href="~/Recruit?order=name">Person</a></th>
            <th><a href="~/Recruit?order=skill">Skill </a></th>
            <th><a href="~/Recruit?order=email">Email </a></th>
            <th><a href="~/Recruit?order=exp">Experience</a> </th>
            <th>ContactNum </th>


            <th></th>
</tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skill.Skills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Experience.ExpYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Contactno)
            </td>

           
          
        </tr>
    }

</table>
<p>@Html.ActionLink("Back to List", "Index")</p>