@model IEnumerable<FirstTask_Project.Models.PersonToSkill>



<h2>Edit</h2>


<table class="table">
    <tr>
        
        <th>Person</th>
       
        <th>Skill </th>
        <th>Email </th>
        <th>Experience </th>
        <th>ContactNum </th>
    
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skill.Skills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Experience.ExpYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Contactno)
            </td>

           
          
        </tr>
    }

</table>
<p>@Html.ActionLink("Back to List", "Index")</p>