@model IEnumerable<FirstTask_Project.Models.RecruitSkill>



<h2>Edit</h2>


<table class="table">
    <tr>
        

       
        <th>
            
                Skill
 
        </th>
        <th>
            
                Description

           
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Skill.Skills)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RecruitmentRequest.Description)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RecruitId }, new { @class = "btn btn-default" }) |
                @Html.ActionLink("Details", "Details", new { id = item.RecruitId }, new { @class = "btn btn-default" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RecruitId }, new { @class = "btn btn-default" }) |
                @Html.ActionLink("Search in DB", "SkillMatch", new { id = item.RecruitId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
<p>@Html.ActionLink("Back to List", "Index")</p>