@model IEnumerable<FirstTask_Project.Models.RecruitmentRequest>

@{
    ViewBag.Title = "Index";
}
<h2>Available Jobs</h2>

<table  style="width: 50%; height: 150px;" class="gridx dr_list_table">

        <tr>
            <th>
               Job Title
            </th>
            <th>
                Company Name
            </th>

            <th> Expire In</th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>

                <td>
                   @* <a href="@Html.ActionLink("Details", "Details", new { id = item.CompanyId })">*@
                        <a href="@Url.Action("Details","Recruit", new { id = item.RecruitId })" > 
                           @Html.DisplayFor(modelItem => item.Title)
                        </a>
</td>
                <td>
                    <a href="@Url.Action("Details","Companies", new { id = item.CompanyId })">
                        @Html.DisplayFor(modelItem => item.Company.Name)
                    </a>
</td>

               @if (((item.Deadline - DateTime.Now).Value.Days) >= 0)
               {
                <td>
                    @Html.DisplayFor(modelItem => (item.Deadline - DateTime.Now).Value.Days) days
                </td>
               }
               else
               {
                <td>
                    Expired
                </td>
               }
                

            </tr>
        }

    </table>
    
      
