@model IEnumerable<FirstTask_Project.Models.RecruitmentRequest>

@{
    ViewBag.Title = "Index";
}
<div class="pull-right">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @Html.TextBox("q", "", new { placeholder = "Search By Jobs..." });

        <button type="submit" class="btn btn-primary">GO</button>

    }
</div>
<br />
<h2>Available Jobs</h2>

<table  style="width: 50%; height: 150px;" class="gridx dr_list_table">

        <tr>
            <th>
                <a href="~/Home?order=title">
                    Job Title
                    </a>
</th>
            <th>
                <a href="~/Home?order=name">
                    Company Name
                    </a>
</th>

            <th>
                <a href="~/Home?order=expire"> Expire In
                    </a></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>

                <td>

                   @* <a href="@Html.ActionLink("Details", "Details", new { id = item.CompanyId })">*@
                        <a href="@Url.Action("Details","Recruit", new { id = item.RecruitId })" > 
                           @Html.DisplayFor(modelItem => item.Title)
                        </a>
</td>
                <td>
                    <a href="@Url.Action("Details","Companies", new { id = item.CompanyId })">
                        @Html.DisplayFor(modelItem => item.Company.Name)
                    </a>
</td>

               @if (((item.Deadline - DateTime.Now).Value.Days) >= 0)
               {
                <td>
                    @Html.DisplayFor(modelItem => (item.Deadline - DateTime.Now).Value.Days) days
                </td>
               }
               else
               {
                <td>
                    Expired
                </td>
               }
                

            </tr>
        }

    </table>
    
      
